<div class="recommendation">
    {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" | where_exp:"post","post.date <= page.date" | sort: "date" | reverse %}
    {% assign recommendation = next_posts.first %}
    {% if recommendation %} 
        <div class="message">
            <strong>Read the next section!</strong>
            <div>
                <button>
                    <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    Back to top
                </button>
            </div>
        </div>
        <a href="{{ recommendation.url | prepend: site.baseurl }}" class="post-preview">
            <div class="image">
                {% if recommendation.optimized_image %}
                    <img src="{{ recommendation.optimized_image }}">
                {% elsif recommendation.image %}
                    <img src="{{ recommendation.image }}">
                {% else %}
                    <img src="/assets/img/off.jpg">
                {% endif %}
            </div>
            <h3 class="title">{{ recommendation.title }}</h3>
        </a>
    {% else %}
        <div class="message">
            <strong>Thank you for reading the Simpsons Close Read!</strong>
            <div>
                <button>
                    <svg><use xlink:href="#icon-arrow-right"></use></svg>
                    Back to top
                </button>
            </div>
        </div>
        <a href="{{ site.baseurl }}" class="post-preview">
            <div class="image">
                <img src="https://assets.foxdcg.com/dpp-uploaded/images/the-simpsons/keyart_s35-1.jpg" />
            </div>
            <h3 class="title">Back to Home</h3>
        </a>
    {% endif %}
</div>
